.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    background-color: var(--yellow-grey-5-hex);
    color: var(--yellow-grey-2-hex);
    padding: 20px;
    border-radius: 20px;
}

.btn_explorar{
    color: var(--yellow-grey-5-hex);
    background-color: var(--yellow-grey-1-hex);
    font-weight: 700;
    text-decoration: none;
    width: 100px;
    padding: 5px 0;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}