html {
  --yellow-grey-1-hex: #6593A6;
  --yellow-grey-2-hex: #58595B;
  --yellow-grey-3-hex: #F2CF63;
  --yellow-grey-4-hex: #F2C063;
  --yellow-grey-5-hex: #F2F2F2;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.App h1{
  align-self: center;
  color: #fff;
}