button{
    text-decoration: none;
    background-color: var(--yellow-grey-1-hex);
    color: var(--yellow-grey-5-hex);
    font-size: 14px;
    font-weight: 700;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close, .close:visited, .close:hover {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 30px;
    color: var(--yellow-grey-2-hex);
    float: right;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
}

.goBack {
    padding: 0 30px;
    margin: 0;
    text-decoration: none;
    font-weight: 700;
    border-radius: 0;
    background-color: var(--yellow-grey-4-hex);
    color: var(--yellow-grey-2-hex);
    display: flex;
    align-items: center;
}